# Bu dosyayı keystore.properties olarak kopyala ve şifrelerini gir.
# keystore.properties git'e eklenmemeli.

storeFile=/Users/itsmeock/Ucuzcu/web/ucuzcu-release.keystore
storePassword=Kuni11yufe
keyAlias=ucuzcu
keyPassword=Kuni11yufe
